body {
		font-size: 20px;
	border: 5px solid white;
	text-align: center;
	background-color: gray;
}



p {
	color: black;
	font-family: 'Indie Flower', cursive;
	letter-spacing: 1px;
	line-height: 1;
	
}


h1 {
		font-size: 60px;
	text-shadow: 5px 3px 2px white;
	text-align: center;
}

html {

	background-color: black; 
}